<h1 align="center" class="about-title">Welcome to my page!</h1>

<div class="about-content">
  <p>
    31 year old American currently residing in Tokyo, Japan. I've been here for about six years, not including my student exchange experience.
    Since I graduated university I've been teaching English in Japan since 2013 in various places. However in the last year or two I've really been focusing on getting out of the education industry.
    It's because of one of the friends I made living in Aormori, Japan that I became interested in programming and now, after a lot of self studying, I'm actively searching for web development positions in Tokyo.
    I'm able to speak Japanese to a JLPT N3 level and do intend on obtaining the N1 certification once I've successfully transitioned careers.
    I'm very interested in weight training and fitness and have always strived to improve myself not only physically, but also mentally.
  </p>
  <!-- <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
    praesentium id quis a amet debitis culpa, sequi vel ipsam quo! Sint
    quaerat, ullam et fuga aut dignissimos doloribus sed rem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
    praesentium id quis a amet debitis culpa, sequi vel ipsam quo! Sint
    quaerat, ullam et fuga aut dignissimos doloribus sed rem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
    praesentium id quis a amet debitis culpa, sequi vel ipsam quo! Sint
    quaerat, ullam et fuga aut dignissimos doloribus sed rem.
  </p> -->
    <div class="jumbotron-about">
      <%= image_tag('LeWagon-Demo-Day-1.jpg', :class=> 'matt-img') %>
    </div>
</div>
