<h1 align="center" class="about-title">Welcome to my page!</h1>

<div class="about-content">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
    praesentium id quis a amet debitis culpa, sequi vel ipsam quo Sint
    quaerat, ullam et fuga aut dignissimos doloribus sed rem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
    praesentium id quis a amet debitis culpa, sequi vel ipsam quo! Sint
    quaerat, ullam et fuga aut dignissimos doloribus sed rem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
    praesentium id quis a amet debitis culpa, sequi vel ipsam quo! Sint
    quaerat, ullam et fuga aut dignissimos doloribus sed rem.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
    praesentium id quis a amet debitis culpa, sequi vel ipsam quo! Sint
    quaerat, ullam et fuga aut dignissimos doloribus sed rem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
    praesentium id quis a amet debitis culpa, sequi vel ipsam quo! Sint
    quaerat, ullam et fuga aut dignissimos doloribus sed rem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
    praesentium id quis a amet debitis culpa, sequi vel ipsam quo! Sint
    quaerat, ullam et fuga aut dignissimos doloribus sed rem.
  </p>
    <div class="jumbotron-about">
      <%= image_tag('LeWagon-Demo-Day-1.jpg', :class=> 'matt-img') %>
    </div>
</div>
