<h1 style="text-align: center; font-size: 50px;">This is the about page!</h1>
<button style="margin-left: 50%; margin-bottom: 5px; padding: 15px 32px;
text-align: center; background-color: grey; font-size: 16px;">
  <%= link_to "Home", root_path %>
</button>
<img style="display: block; margin-left: auto; margin-right: auto;
margin-bottom: 50px; width: 100%; border-radius: 3px;"
src="https://cdn1.medicalnewstoday.com/content/images/articles/322/322868/golden-retriever-puppy.jpg"
alt="Happy dog">
<div style="display: flex; justify-content: center;">
  <div style="text-align: justify; padding: 25px;">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
      praesentium id quis a amet debitis culpa, sequi vel ipsam quofont-size: 16px;! Sint
      quaerat, ullam et fuga aut dignissimos doloribus sed rem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
      praesentium id quis a amet debitis culpa, sequi vel ipsam quo! Sint
      quaerat, ullam et fuga aut dignissimos doloribus sed rem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
      praesentium id quis a amet debitis culpa, sequi vel ipsam quo! Sint
      quaerat, ullam et fuga aut dignissimos doloribus sed rem.
    </p>
  </div>
  <div style="text-align: justify; padding: 25px;">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
      praesentium id quis a amet debitis culpa, sequi vel ipsam quo! Sint
      quaerat, ullam et fuga aut dignissimos doloribus sed rem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
      praesentium id quis a amet debitis culpa, sequi vel ipsam quo! Sint
      quaerat, ullam et fuga aut dignissimos doloribus sed rem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
      praesentium id quis a amet debitis culpa, sequi vel ipsam quo! Sint
      quaerat, ullam et fuga aut dignissimos doloribus sed rem.
    </p>
  </div>
</div>
