<!-- <div class="center jumbotron"> -->
  <!-- <div class="container"> -->
  <div class="background center">
    <h1>Welcome to Alpha Blog!</h1>
    <%= link_to "Sign Up Now", signup_path, class: "btn btn-success btn-lg btn-xlarge" %>

  </div>
  <!-- </div> -->
<!-- </div> -->
