// $navbar-default-bg: #013487;
$navbar-default-bg: #a2a4d3;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  overflow-x: hidden;
}

a {
  color: #b306ad;
  &:hover {
    color: #a2a4d3;
  }
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-default{
  margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  // color: #337ab7;
  color: #b306ad;
}

.center {
  text-align: center;
}

.jumbotron {
  // background-image: asset-url('compressed-img.jpg');
  background-image: asset-url('balloon-range.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 95vh;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: #10c76c;
}

.about-home-btn {
  background-color: #a2a4d3;
  color: #fff;
  &:hover{
    color: #b306ad;
  }
}

.matt-img {
  height: 800px;
  border-radius: 3px;
}

.about-content {
  display: flex;
  justify-content: center;
  margin: 60px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

// .footer a:hover {
//   color: #222;
// }

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 15px;
}
